body
{  background-color:lightblue;
}
h1{
	color:blue;
   
h2{
   color:blue; 
}

.fontos{
	font-size:15pt;
	color:red;

}


}

.elh{
	color:blue;

}

.edzesterv{
   font-size:15pt;
   color:blue;

}

.edz {
	font-size:15pt;
	color:blue;

}
 
.mot {
	font-size:15pt;
	color:green;
}